div#home{
  background: no-repeat url('') ;
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index:1;
}


.card-body{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#article{
  margin: 50px;
  text-align: center;
}
h3{
  text-align: center;
}